<%- include('../partials/header') %>

<h1>Game Detail Page</h1>
<h2>Views Matches New Page</h2>
<br>

<form id="match-form" action="/matches" method="POST">

<label>Team Name:
<input type="text" name="teamName">
</label>

<br>
<br>

<label>Home or Away:
<select name="homeOrAway">
  <option value="Home">Home</option>
  <option value="Away">Away</option>
</select>
</label>

<br>
<br>

<label>Game Location:
<input type="text" name="location">
</label>

<br>
<br>



</form>
<%- include('../partials/footer') %>