/* global style */

body {
  text-align: center;
}
 h1, h2, h5 {
  text-align: center;
 }

/* header style */

nav {
  background-color: black;
}

nav a {
  color: silver;
  text-decoration: none;
  padding: 8px 16px;
}

nav a:hover {
  background-color: silver;
  color: black;
}

/* footer style */

footer {
  margin-top: 40px;
  text-align: center;
}